[Unit]
Description=MGBoost Panel
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/MGBoost_Panel
ExecStart=/usr/bin/python3 /opt/MGBoost_Panel/main.py
EnvironmentFile=/opt/MGBoost_Panel/.env
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
